
.product-page {
  gap: 36px;
  max-width: 1350px;
  margin: 0 auto;

  &__main {
    display: flex;
    gap: 35px;
    flex-direction: row;

    @media (max-width: 1091px) {
      flex-direction: column;
    }
  }

  &__description {
    display: flex;
    gap: 32px;
    margin-top: 50px;
   @media (max-width: 768px) {
      flex-direction: column;
    }
    &-left {
      max-width: 750px;
    }

    .section-title {
      font-size: 18px;
      margin-bottom: 16px;
      font-weight: 600 !important;
      color: #292929;
      @media screen and (max-width: 551px) {
        
        text-align: center;
      }

    }

    .plus-icon {
      margin: 16px auto;
      display: block;
      color: #000;
    }

    .total-box {
      .total-price {
        font-size: 16px;
        font-weight: 400 !important;
        margin: 16px auto;
        width: fit-content;
      }

      .btn-add-cart {
        border-radius: 16px;
        text-transform: none;
        height: 40px;
        padding: 12px;
        background-color: black;
        color: #fff;
        width: 100%;

        &:hover {
          background-color: #333;
        }
      }
    }
  }

  &__reviews {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 740px;

    .section-title {
      font-size: 18px;
      font-weight: 600 !important;
      color: #292929;
    }

    .btn-review {
      padding: 12px 16px;
      border-radius: 16px;
      font-size: 16px;
      background: #292929;
      color: white;
      height: 40px;
      width: fit-content;
      margin-inline-start: auto;
      display: flex;
      align-items: center;
      gap: 4px;
      text-transform: capitalize;
      @media screen and (max-width: 551px) {
        width: 100%;
      }
      &:hover {
        background: #333;
      }
    }
  }

  &__related {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .related-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      .section-title {
        font-size: 18px;
        font-weight: 600 !important;
        color: #292929;
      }

      .btn-view-all {
        padding: 12px 16px;
        border-radius: 16px;
        font-size: 16px;
        background: black;
        color: white;
        height: 40px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
          background: #333;
        }
      }
    }

  }
}

.product-details-container {
  font-weight: 500 !important;
  width: 100%;
  flex: 1;

 .product-header {
  margin-bottom: 16px ;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .product-title {
    font-weight: 600 !important;
    white-space: nowrap;
    font-size: 24px;
    @media screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  .price-section {
    display: flex;
    align-items: center;
    gap: 8px;

    .current-price {
      font-weight: 500 !important;
      font-size: 24px;
      @media screen and (max-width: 551px) {
        font-size: 16px;
      }
    }

    .original-price {
      font-weight: 400 !important;
      font-size: 18px;
      color: #a7a7a7 !important;
      text-decoration: line-through;
      @media screen and (max-width: 551px) {
        font-size: 14px;
      }
    }
  }

  .discount-chip {
    background-color: #a3a3a3;
    color: white;
    font-weight: 400 !important;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 46px;
    white-space: nowrap;
    width: fit-content;
    border-radius: 18px;
    padding: 8px 14px;
    @media screen and (max-width: 551px) {
      font-size: 14px;
      height: 37px;
    }
  }
}

.rating-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;

  .reviews-text {
    color: #a7a7a7;
  }
    .stars {
      &.MuiRating-root {
        display: flex !important;
        gap: 4px !important;
      }
  
      svg {
        width: 25px;
        height: 25px;
        color: #FBC418;
        @media screen and (max-width: 551px) {
        width: 18px;  
        height: 18px;
        }
      }
    }
}

.description {
  line-height: 1.5 !important;;
  margin-bottom: 24px !important;;
}
.quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  border: 1px solid;
  border-radius: 25px;
  width: 200px;
  height: 55px !important;
  
  padding: 12px 24px;
  font-weight: 500 !important;
  margin-bottom: 20px;
  @media screen and (max-width: 551px) {
    width: 170px;
    height: 48px !important;
  }
}
.quantity-icon {
  color: #000;
 font-size: 27px;
}

.quantity-value {
  margin: 0 8px;
}

.action-buttons {
  margin-bottom: 24px;
  @media screen and (max-width: 551px) {
    display: none;
  }
}

.colors-section {
  margin-bottom: 24px;

  .section-title {
    font-weight: 500 !important;
    margin-bottom: 16px;
  }

  .colors-toggle {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 551px) {
      display: block;
    }
  }

  &--desktop {
    display: block;

    @media screen and (max-width: 551px) {
      display: none; 
    }
  }
}


.sizes-section {
  margin-bottom: 24px;

  .sizes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .size-guide-btn {
      color: #000;
      font-size: 14px;
      font-weight: 500 !important;
      text-decoration: underline;

      .size-guide-icon {
        color: #000;
        transform: rotate(-45deg);
        width: 24px;
        height: 24px;
      }
    }
  }

  .sizes-toggle {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 551px) {
      display: block; 
    }
  }

  &--desktop {
    display: block;

    @media screen and (max-width: 551px) {
      display: none;
    }
  }
}

.trust-card{
  
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: none;
.trust-card-content {
  border: 1px solid #e4e4e4;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 12px !important;
  gap: 8px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: #000 !important;

  .trust-title {
    font-weight: 500 !important;
    font-size: 16px;
  }

  .trust-subtitle {
    font-size: 14px;
  }

  .trust-link {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
}
}

.stock-info {
  margin-bottom: 18px;

  .stock-text {
    font-size: 16px;

    .stock-link {
      text-decoration: underline;
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.follow-section {
  margin-bottom: 24px;
  .section-title {
    font-weight: 500 !important;
    margin-bottom: 16px;
  }

  .social-icon {
    color: #000;
  }
}
}

.images-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex: 1.5;
  .main-image-wrapper {
    position: relative;
    .main-image {
      width: 100%;
      height: 100%;
      max-width: 710px;
      max-height:710px;
        @media screen and (max-width: 551px) {
        max-width: 500px;
        max-height: 500px;
      }
      aspect-ratio: 1/1;
      border-radius: 40px;
      object-fit: cover;
    } 
       .thumb-label {
          position: absolute;
          top: 0px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 150px;
          color: #000;
        }
    .image-action-buttons {

      @media screen and (max-width: 551px) {
        display: flex;
      }
      position: absolute;
      bottom: 15px;
      right: 50%;
      transform: translateX(50%);
      display: none;
      gap: 8px;
      .action-btn {
      background-color: #fff;
      width: 32px !important;
      height: 32px !important;
      border-radius: 12px;
      border: 1px solid #000;
      color: #000;
      padding: 4px !important;
  
      }
    }
  }

  .thumbnails-wrapper {
    position: relative;
    width: 100%;
    gap: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .arrow-icon {
      color: #000;
      width: 24px;
      height: 24px;
      margin: auto;
    }

    .thumbnails-list {
      display: flex;
      gap: 12px;
      align-items: flex-end;
      justify-content: center;
      overflow: hidden;

      .thumbnail-item {
        cursor: pointer;
        transition: all 0.3s ease;
        flex-shrink: 0;
        position: relative;

        .thumb-label {
          position: absolute;
          top: 0px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 12px;
          color: #000;
        }

        .thumbnail-img {
          width: 46px;
          height: 46px;
          aspect-ratio: 1/1;
          border-radius: 10px;
          object-fit: cover;

          &.active {
            border: 1px solid #000;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
.grease-service {
  &__text {
    font-size: 16px;
    margin-bottom: 36px;
    line-height: 1.6;
  }

  &__section {
    margin-bottom: 36px;
  }

  &__title {
    font-size: 18px;
    font-weight:600 !important;
    margin-bottom: 18px;
    color: #292929;
  }

  &__list {
    font-size: 16px;
    list-style-type: disc;
    padding-inline-start: 30px;

    li {
      margin-bottom: 8px;
      line-height: 1.5;
    }
  }
}

